/* Overall tabs container */
.tabs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Left tabs */
.tabs-left {
    display: flex;
    gap: 8px;
    background-color: #f0f0f0;
    padding: 6px 12px;
    border-radius: 10px;
}

.tab-button {
    padding: 3px 7px;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 7px;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

/* Right side sort button */
.tabs-right {
    display: flex;
    align-items: center;
}

.sort-button {
    padding: 3px 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: white;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.sort-button:hover {
    background-color: #f0f0f0;
}

.sort-img {
    width: 15px; /* 设置图片宽度 */
    height: 15px; /* 设置图片高度 */
    padding: 0 3px;
}

/* Post content */
.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.post:hover h2 {
    color: #6B25FF;
}

.post-header {
    max-width: 80%;
}

.post-header h2 {
    margin: 7px 0;
    font-size: 28px;
    font-family: serif;
    font-weight: bold;
}

.post-header p {
    margin: 7px 0;
}

.post-header span {
    margin: 7px 0;
    color: #808080;
}

.post-img {
    width: 180px;
    height: 120px;
    border-radius: 7px;
}

.heart-img {
    width: 17px; /* 设置图片宽度 */
    height: 17px; /* 设置图片高度 */
    vertical-align: middle;
    padding: 0 2px 2px 0;
}

/* 去掉 Link 默认的样式 */
.post-link {
    text-decoration: none; /* 去掉下划线 */
    color: inherit;        /* 保持文字颜色和继承的颜色一致 */
    display: block;        /* 让整个 Post 可以点击 */
}

/* 确保 post-link 内部的内容样式不受影响 */
.post-link:hover {
    /* 你可以在 hover 的时候加入一些交互效果 */
    color: inherit;        /* 确保 hover 时不改变颜色 */
}
